<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    TSAR
  </h1>
  <input type="text" #txt>
  <button (click)="getTextBoxVal(txt)">get value</button>button>

  <h2> Response </h2>
  <p>document-Sentiment: {{lstGoogleResponse.documentSentiment.score}} </p>
  <p>document-score: {{lstGoogleResponse.documentSentiment.magnitude}} </p>
  <p>language: {{lstGoogleResponse.language}} </p>
  <p>text-content: {{lstGoogleResponse.sentences.text.content}} </p>
  <p>text-begin-offset: {{lstGoogleResponse.sentences.text.beginOffset}} </p>
  <p>sentiment-magnitude: {{lstGoogleResponse.sentiment.magnitude}} </p>
  <!--
    {
  "documentSentiment": {
    "magnitude": 0.9,
    "score": -0.9
  },
  "language": "en",
  "sentences": [
    {
      "text": {
        "content": "I hate HSBC environment",
        "beginOffset": 0
      },
      "sentiment": {
        "magnitude": 0.9,
        "score": -0.9
      }
    }
  ] 
}
  -->
</div>